 @*if (Model.Şema == null || Model.Şema == "Şema 1")
    {
        <div class="hehe container">
            <div class="urunler-card  row">

                @foreach (var item in ViewBag.galeriResim)
                {
                    <div class="col-md-4 col-sm-6 ">
                        <div class="galeri-page thumbnail">
                            <img class="" src="@item.KucukLink" alt="...">
                            <div class="caption">
                                <h3>Başlık</h3>
                                <p>Fiyat</p>
                                <p><a href="#" class="tus btn btn-primary" role="button">Satın Al</a> <a href="#" class="tus btn btn-default" role="button">Ürün Detayı</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else if (Model.Şema == "Şema 2")
    {
        <div class="hehe row">
            @foreach (var item in ViewBag.galeriResim)
            {

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="card-wrapper">
                        <div class="image-holder">
                            <a href="#" class="image-holder__link"></a>
                            <div class="image-liquid image-holder--original" style="background-image: url('@item.Link')">
                            </div>
                        </div>
                        <div class="product-description">
                            <!-- title -->
                            <h1 class="product-description__title">
                                <a href="#">
                                    Adidas Originals
                                </a>
                            </h1>
                            <!-- category and price -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 product-description__category secondary-text">
                                    Men's running shirt
                                </div>
                                <div class="col-xs-12 col-sm-4 product-description__price">
                                    € 499
                                </div>
                            </div>
                            <!-- divider -->
                            <hr />
                            <!-- sizes -->
                            <div class="sizes-wrapper">
                                <b>Sizes</b>
                                <br />
                                <span class="secondary-text text-uppercase">
                                    <ul class="list-inline">
                                        <li>xs,</li>
                                        <li>s,</li>
                                        <li>sm,</li>
                                        <li>m,</li>
                                        <li>l,</li>
                                        <li>xl,</li>
                                        <li>xxl</li>
                                    </ul>
                                </span>
                            </div>
                            <!-- colors -->
                            <div class="color-wrapper">
                                <b>Colors</b>
                                <br />
                                <ul class="list-inline color-list">
                                    <li class="color-list__item color-list__item--red"></li>
                                    <li class="color-list__item color-list__item--blue"></li>
                                    <li class="color-list__item color-list__item--green"></li>
                                    <li class="color-list__item color-list__item--orange"></li>
                                    <li class="color-list__item color-list__item--purple"></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            }

        </div>
    }
    else
    {
        <div class="w3-container">
            <div class="hehe row">
                <h2>Card Example</h2>
                @foreach (var item in ViewBag.galeriResim)
                {
                    <div class="col-lg-4 col-sm-12 w3-card  w3-light-grey" style="margin:7px; width:30%">

                        <div class="w3-container w3-center">
                            <img src="@item.KucukLink" alt="Avatar" style="width:90%; padding-top:30px;">
                            <h4>Açıklama</h4>
                            <h5>Fiyat</h5>

                            <div class="w3-section">
                                <button class="w3-button w3-green">Satın Al</button>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    }
    <span class="galeri-page">
        @Html.PagedListPager((IPagedList)ViewBag.galeriResim, Page => Url.Action("GaleriDuzenle", "Galeri", new { Page = Page }))
    </span>
}
else { }*@
