

body {
    padding:0;
}

.dosyalar-image{
    width:250px;
    height:250px;
    padding:10px;
    border-radius:8%;
}
@media(max-width:770px){
    .dosyalar-image {
        width: 100%;
        height: 100%;
    }
}
.dosya-ekle{
    text-align:center;
    margin:auto;
}
.sil-dosya{
    text-align:center;
    margin-bottom:30px;
}
.sayfa-text{
    padding-top:7px;
    text-align:right;
}
.hehe{
    margin-left:2%;
}
.sayfa-h2{
    margin:0 0 0 120px;
    padding-top:150px;
}